
{% load filters %}
{% load helpers %}
{# renders panel on object with lifecycle info assigned to it #}

<div class="card">
  <h5 class="card-header">Lifecycle Dates
  {% if lifecycle_info %}
    <div class="card-actions"><a href="{% url 'plugins:netbox_lifecycle:hardwarelifecycle' lifecycle_info.pk %}" class="btn btn-sm btn-ghost-primary">
      <i class="mdi mdi-chevron-right-box-outline" aria-hidden="true"></i> View Details
    </a></div>
  </h5>
  <table class="table table-hover attr-table">
    <tr>
      <td>End of Sale</td>
      <td><span {{ lifecycle_info.end_of_sale|date_badge_class }}>{{ lifecycle_info.end_of_sale|placeholder }}</span></td>
    </tr>
    <tr>
      <td>End of Maintenance Updates</td>
      <td><span {{ lifecycle_info.end_of_maintenance|date_badge_class }}>{{ lifecycle_info.end_of_maintenance|placeholder }}</span></td>
    </tr>
    <tr>
      <td>End of Security Updates</td>
      <td><span {{ lifecycle_info.end_of_security|date_badge_class }}>{{ lifecycle_info.end_of_security|placeholder }}</span></td>
    </tr>
    <tr>
      <td>Last Support Contract Attach</td>
      <td><span {{ lifecycle_info.last_contract_attach|date_badge_class }}>{{ lifecycle_info.last_contract_attach|placeholder }}</span></td>
    </tr>
    <tr>
      <td>Last Support Contract Renewal</td>
      <td><span {{ lifecycle_info.last_contract_renewal|date_badge_class }}>{{ lifecycle_info.last_contract_renewal|placeholder }}</span></td>
    </tr>
    <tr>
      <td>End of Support</td>
      <td><span {{ lifecycle_info.end_of_support|date_badge_class }}>{{ lifecycle_info.end_of_support|placeholder }}</span></td>
    </tr>
  </table>
  {% else %}
  </h5>
  <div class="card-body"><span class="text-muted">No Lifecycle Dates Defined</span></div>
  {% endif %}
</div>
