
{% load filters %}
{% load helpers %}
{# renders panel on object (device) with support contract info assigned to it #}

<div class="card">
  <h5 class="card-header">Support Contract</h5>
  {% if support_contract %}
  <table class="table table-hover attr-table">
    <tr>
      <th scope="row">Vendor</th>
      <td>{{ support_contract.contract.vendor|linkify|placeholder }}</td>
    </tr>
    <tr>
      <th scope="row"><span title="Contract Number">Contract Number</span></th>
      <td>{{ support_contract.contract|linkify:"contract_id"|placeholder }}</td>
    </tr>
    <tr>
      <th scope="row">Support SKU</th>
      <td>{{ support_contract.sku|linkify|placeholder }}</td>
    </tr>
    <tr>
      <th scope="row">Start Date</th>
      <td>{{ support_contract.contract.start }}</td>
    </tr>
    <tr>
      <th scope="row">End Date</th>
      {% if support_contract.end == None %}
      <td><span {{ support_contract.contract.end|date_badge_class }}>{{ support_contract.contract.end }}</span></td>
      {% else %}
      <td><span {{ support_contract.end|date_badge_class }}>{{ support_contract.end }}</span></td>
      {% endif %}
    </tr>
  </table>
  {% else %}
  <div class="card-body"><span class="text-muted">No Support Contract Assigned<span></div>
  {% endif %}
</div>

{% include "netbox_lifecycle/inc/hardware_lifecycle_info.html" %}
