{% extends 'generic/object.html' %}
{% load buttons %}
{% load custom_links %}
{% load helpers %}
{% load filters %}
{% load perms %}
{% load plugins %}
{% load tabs %}

{% block content %}
  <div class="row">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">{{ object.assigned_object_type.name|capfirst}}</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th>Manufacturer</th>
              <td>{{ object.assigned_object.manufacturer|linkify }}</td>
            </tr>
            <tr>
              <th>Object</th>
              <td>{{ object.assigned_object|linkify }}</td>
            </tr>
            <tr>
              <th>Description</th>
              <td>{{ object.description }}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="card">
        <h5 class="card-header">Dates</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <td>End of Sale</td>
              <td><span {{ object.end_of_sale|date_badge_class }}>{{ object.end_of_sale }}</span></td>
            </tr>
            <tr>
              <td>End of Maintenance Updates</td>
              <td><span {{ object.end_of_maintenance|date_badge_class }}>{{ object.end_of_maintenance }}</span></td>
            </tr>
            <tr>
              <td>End of Security Updates</td>
              <td><span {{ object.end_of_security|date_badge_class }}>{{ object.end_of_security }}</span></td>
            </tr>
            <tr>
              <td>Last Support Contract Purchase Date</td>
              <td><span {{ object.last_contract_date|date_badge_class }}>{{ object.last_contract_date }}</span></td>
            </tr>
            <tr>
              <td>End of Support</td>
              <td><span {{ object.end_of_support|date_badge_class }}>{{ object.end_of_support }}</span></td>
            </tr>
          </table>
        </div>
      </div>
      {% plugin_left_page object %}
      {% include 'inc/panels/tags.html' %}
    </div>
    <div class="col col-md-6">
      {% include 'inc/panels/related_objects.html' %}
      {% include 'inc/panels/custom_fields.html' %}
      {% include 'inc/panels/comments.html' %}
      {% plugin_right_page object %}
    </div>
  </div>
  <div class="row">
    <div class="col col-md-12">
      {% plugin_full_width_page object %}
    </div>
  </div>
{% endblock %}
