{% extends 'generic/object.html' %}
{% load helpers %}

{% block subtitle %}
  <div class="object-subtitle"></div>
{% endblock %}

{% block content %}
  {% include 'inc/table_controls_htmx.html' with table_modal="ObjectTable_config" %}

    <div class="card">
      <div class="card-body" id="object_list">
        {% include 'htmx/table.html' %}
      </div>
    </div>
  </form>
{% endblock %}

{% block modals %}
  {{ block.super }}
  {% table_config_form table table_name="ObjectTable" %}
{% endblock modals %}
