{% extends 'generic/object_edit.html' %}
{% load form_helpers %}
{% load static %}

{% block form %}
    <div class="field-group my-5">
      <div class="row mb-2">
        <h5 class="offset-sm-3">Contract</h5>
      </div>
      {% render_field form.contract %}
      {% render_field form.sku %}
    </div>
    <div class="field-group my-5">
      <div class="row mb-2">
        <h5 class="offset-sm-3">Assignment</h5>
      </div>
      <div class="row mb-2">
        <div class="offset-sm-3">
          <ul class="nav nav-pills" role="tablist">
            <li role="presentation" class="nav-item">
              <button role="tab" type="button" id="device_tab" data-bs-toggle="tab" aria-controls="device" data-bs-target="#device" class="nav-link {% if not form.initial.license %}active{% endif %}">
                Device
              </button>
            </li>
            <li role="presentation" class="nav-item">
              <button role="tab" type="button" id="vm_tab" data-bs-toggle="tab" aria-controls="license" data-bs-target="#license" class="nav-link {% if form.initial.license %}active{% endif %}">
                License
              </button>
            </li>
          </ul>
        </div>
      </div>
      <div class="tab-content p-0 border-0">
        <div class="tab-pane {% if not form.initial.license %}active{% endif %}" id="device" role="tabpanel" aria-labeled-by="device_tab">
          {% render_field form.device %}
        </div>
        <div class="tab-pane {% if form.initial.license %}active{% endif %}" id="license" role="tabpanel" aria-labeled-by="vm_tab">
          {% render_field form.license %}
        </div>
      </div>
    </div>
    <div class="field-group my-5">
      {% render_field form.tags %}
    </div>
    <div class="field-group my-5">
      <div class="row mb-2">
        <h5 class="offset-sm-3">Dates</h5>
      </div>
      {% render_field form.end %}
    </div>
{% endblock %}